<nav class="navbar navbar-inverse navbar-fixed-top">
<div class="container-fluid">
  <div class="mr-25">

  </div>
<ul id="h_bar">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/allMovies">AllMovies</a></li>
    <li><a routerLink="/listOfMovies">ListOF Movies</a></li>
  </ul>
  <!-- Vertical Navigation Bar //-->
  <ul id="v_bar">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/allMovies">AllMovies</a></li>
    <li><a routerLink="/listOfMovies">ListOF Movies</a></li>
  </ul>

</div>

</nav>
