nav {
    background-color: lightslategrey;
    width: 100%;
    height: 56px;
    line-height: 56px;
}
.m-LR{
  margin-left: 0;
  margin-right: 0;
}
.header-position{
  position: absolute;
  left: 35px;
}

